---
layout: default
title: Home
---

<h1><span class="fa fa-home" aria-hidden="true"></span> {{ page.title }}</h1>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
    <div class="card">
	    <div class="card-body">
		    <h3 class="card-title">{{ post.title }}</h3>
		    <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date_to_string }}</h6>
		    <p class="card-text">
          {% if post.excerpt %}
		      {{ post.excerpt }}
	        {% endif %}
        </p>
		    <a href="{{ post.url }}" class="btn btn-outline-primary">Read post</a>
	    </div>
    </div>
    {% endfor %}
  </ul>

</div>
